{% extends 'base.html' %}
{% block content %}
{% block additional_styles %}

<style>
	body {
		background-image: url("/static/img/resume_page.png");
	}
</style>
<div class="container">
	<div id="about" class="col-sm-7 col-sm-offset-5 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
		<div class="img-naomi">
			<img src="/static/img/naomi.jpeg" style="border-radius:150px;padding:20px;">
			</div>
			<p style="font-size:18px;"> As a recent graduate from Code Institute, I am currently building up my portfolio and continuing to develop and broaden my skillset through both self-teaching and developing a few private websites and applications.

			I love designing and creating and I am passionate about developing websites and applications with/and for others.

			Be it an idea you have for an app, a new website to promote your business, or updating an existing one,
			I would love to help!

			For more about me please see my resume 
				<a
					href="https://www.canva.com/design/DAD2hBSnKGc/_k7YES1ofnMPiljZSmKRJA/view?utm_content=DAD2hBSnKGc&utm_campaign=designshare&utm_medium=link&utm_source=viewer"
					target="_blank" style="color:#d749d1;">
					<br>[ Here ]
					</a>
				</p>
			</div>
	{% endblock %}
	{% endblock %}