{% extends 'base.html' %}

{% block content %}
{% block additional_styles %}
<!-- Background image-->
<style>
	body {
		background-image: url("/static/img/portfolio.png");
	}
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators" style="display:none;">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<a href="https://pressconstructions.herokuapp.com/" target="_blank" data-toggle="tooltip"
				title="Click to open Website in New Window!">
				<img src="/static/img/press-link.png" id="img-link" />
    </a>
    <caption> <h4>Website for a Builder</h4><br>
              HTML | CSS | Javascript | Facebook API ( messenger chatbot) | Python 
    </caption>
		</div>
    <!-- Links to websites -->
		<div class="item">
			<a href="https://henkdeweerdphotography.herokuapp.com/" target="_blank" data-toggle="tooltip"
				title="Click to open Website in New Window!">
				<img src="/static/img/henk-link.png" id="img-link" />
    </a>
       <caption><h4>E-commerce Style Website for a Photographer</h4><br>
                HTML | CSS | Javascript | Django | Python | Stripe Payment | User registration and Security
    </caption>
		</div>


		<div class="item">
			<a href="https://blueag8.github.io/Sidetrack/index.html" target="_blank" data-toggle="tooltip"
				title="Click to View Website in New Window!">
				<img src="/static/img/sidetrack-link.png" id="img-link" />
      </a>
         <caption><h4> Basic HTML Website for a Band/Duet</h4><br>
                   HTML | CSS | Javascript 
    </caption>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<div class="github">
	<a href="https://github.com/blueag8" data-toggle="tooltip" title="Click to go to my github repositories!">
		<i class="fa fa-github-square"style="font-size:30px;"></i>
	</a>
    <br>
        <caption> Please see Github for more of my projects</caption>
       
</div>




{% endblock %}
{% endblock %}